<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta tags for the web page -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Stylesheet link for the web page -->
        <link rel="stylesheet" href="assets/css/style-login-signup.css" />

        <!-- Title of the web page -->
        <title>Vintagesale | Log-in</title>
    </head>
    <body>
        <!-- Vintagesale logo -->
        <a href="#" class="logo" target="_blank">
            <img src="assets/vintagesale.png" alt="" />
        </a>
        <section>
            <main>
                <!-- Login form -->
                <div class="form-value">
                    <form action="/login" method="POST">
                        <h2>Log-in</h2>
                        <!-- Email input field -->
                        <div class="inputbox">
                            <ion-icon name="mail-outline"></ion-icon>
                            <input
                                type="email"
                                name="email"
                                required
                                autocomplete="off"
                            />
                            <label for="">E-mail</label>
                        </div>
                        <!-- Password input field -->
                        <div class="inputbox">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                            <input type="password" name="password" required />
                            <label for="">Password</label>
                        </div>
                        <!-- Forgot password link -->
                        <div class="forget">
                            <label for="">
                                <a href="#">I forgot my password</a>
                            </label>
                        </div>
                        <!-- Submit button for login form -->
                        <button class="button-style" type="submit">
                            Log-in
                        </button>
                        <!-- Link to the registration page for users who don't have an account -->
                        <div class="register">
                            <p>
                                You don't have an account?
                                <a href="/register">Sign-up</a>
                            </p>
                        </div>
                    </form>
                </div>
            </main>
        </section>
        <!-- Ionicons script for icon support -->
        <script
            type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
        ></script>
        <script
            nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
        ></script>
    </body>
</html>
